@import "tailwindcss";

/* === Font Faces === */
@font-face {
  font-family: "Russo One";
  src: url("/fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* === Design Tokens (CSS Variables) === */
:root {
  --color-bg-light: hsl(0, 0%, 100%);
  --color-bg-dark: hsl(0, 0%, 7%);
  --color-highlight: hsl(354, 70%, 50%);
  --color-bg-soft: hsl(0, 0%, 11%);
  --color-bg-muted: hsl(0, 0%, 17%);
  --color-accent-gold: hsl(51, 100%, 50%);

  /* --poppy: hsla(354, 70%, 50%, 1);
  --indian-red: hsla(354, 70%, 60%, 1);
  --light-coral: hsla(354, 70%, 70%, 1);
  --cherry-blossom-pink: hsla(354, 70%, 80%, 1);
  --mimi-pink: hsla(355, 70%, 90%, 1); */

  --font-heading: "Russo One", sans-serif;
  --font-subheading: "Exo 2", sans-serif;
  --font-body: "Poppins", sans-serif;
}

/* === Tailwind Theme using CSS Variables === */
@theme {
  --font-heading: var(--font-heading);
  --font-subheading: var(--font-subheading);
  --font-body: var(--font-body);

  --color-bgLight: var(--color-bg-light);
  --color-bgDark: var(--color-bg-dark);
  --color-highlight: var(--color-highlight);
  --color-bgSoft: var(--color-bg-soft);
  --color-bgMuted: var(--color-bg-muted);
  --color-accentGold: var(--color-accent-gold);

  --breakpoint-xs: 425px;
}

body {
  background-color: var(--color-bgSoft);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
